<div class="container-fluid">
	<div class="col-md-offset-2 col-md-8">
		<h2>New Team</h2>
		<%= simple_form_for @team do |f| %>
			<%= f.input :name %>
			<%= button_tag type: 'submit', class: 'btn btn-default' do %>
				Create
			<% end %>
		<% end %>
	</div>
</div>
