// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.below-navigation-bar {
	padding-top: 56px;
	padding-bottom: 4em;
}

.center {
	text-align: center;
}
